<div class="ckeckinslist">
	<h1>Check-ins</h1>
	<p>Here's our list of latest check-ins.</p>

	<div class="search cf">
		<h2>Search Check-ins</h2>
		<input type="text" ng-model="query" placeholder="Search for users:">
		<div class="formgroup cf">
			<span class="label">by:</span>
			<select ng-model="order">
				<option value="firstname">First Name</option>
				<option value="lastname">Last Name</option>
				<option value="date">Date</option>
			</select>
		</div>
		<div class="formgroup cf">
			<input id="dirascending" type="radio" ng-model="direction" name="direction" value="">
			<label for="dirascending">Ascending</label>
			<input id="dirdescending" type="radio" ng-model="direction" name="direction" value="reverse">
			<label for="dirdescending">Descending</label>
		</div>
		<div class="buttons cf" ng-show="signedIn()">
			<button class="btn btn-pick" ng-hide="recordId" ng-click="pickRandom()">Pick Random</button>
			<button class="btn btn-reset" ng-show="recordId" ng-click="recordId=''">Reset</button>
		</div>
	</div>

	<ul class="userlist cf">
		<li ng-class="checkin.userState" ng-repeat="checkin in checkins | orderBy:order:direction | filter: {$id: recordId, $: query}">
			<div class="checkin cf">
				<div class="info">
					<h2>{{checkin.firstname}} {{checkin.lastname}}</h2>
					<div class="date">{{checkin.date | date:"MMM d, yy h:mm a"}}</div>
				</div>
				<div class="buttons" ng-show="signedIn()">
					<button class="btn btn-love tooltip" ng-click="showLove(checkin)">
    					<span>Show the Love!</span></button>

					<button class="btn btn-delete tooltip" confirmation-needed="Are you sure you want to delete the checkin?" ng-click="deleteCheckin(checkin.$id)">
        				<span>Delete this checkin</span></button>
				</div>
				<div class="showcheckins" ng-show="checkin.show">
					<form class="cf" ng-submit="giveLove(checkin, checkin.giftText)" novalidate>
						<input type="text" name="giftText" ng-required="true" ng-model="checkin.giftText" placeholder="What are you giving them?">
						<button class="btn" type="submit" ng-disabled="myform.$invalid">+</button>
					</form>

					<ul class="awardslist cf">
						<li class="cf" ng-repeat="(key, award) in checkin.awards">
							<div class="award">{{ award.name }}
								<div class="buttons" ng-show="signedIn()">
									<button class="btn tooltip delete-love" confirmation-needed="Are you sure you want to delete the award?" ng-click="deleteLove(checkin.$id, key)">
										<i class="fa fa-trash-o"></i>
				        				<span>Delete this award</span>
				        			</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</li>
	</ul>
</div>